{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<div class="card col-8">
    <div class="card-header">
      Форма аутентификации dradis
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {% bootstrap_field form.username %}
        </div>
        <div class="mb-3">
            {% bootstrap_field form.password %}
        </div>
        {% bootstrap_button button_type="submit" content="Отправить" %}
    </form>
{% endblock %}